.line{
    top: 20px;
    width: 1000px;
    height: 20px;
    background-color: #17c14d;
    border-radius: 30px;
}

.circle{
    background-color: #17c1a8;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    vertical-align: center;
    border: black solid 5px;
    cursor: pointer;
}

#circle1{
    position: relative;
}

.circle:hover{
    border: #17c1a8 solid 5px;
    background-color: black;
}